* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgb(80 80 80 / 90%);
  color: #505050;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 38px;
}

.canvas-container {
  padding: 32px 29px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 18px;
}

.draw-area {
  width: 415px;
  height: 553.33px;
  margin-top: 45px;
  margin-bottom: 14px;
  align-self: center;
}

.canvas-button-container {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.button {
  width: calc(100% / 3);
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid 1px #505050;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.colors-button {
  width: calc(100% / 3);
  height: 129px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #eaf8f9;
  border: solid 1px #505050;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.colors-button span {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-container {
  width: 156px; /* (body + margin-left + margin-right) * 4 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  width: 21px;
  height: 21px;
  margin: 5px 9px;
  border-radius: 50%;
}
.color#red {
  background-color: #ff3b66;
}
.color#purple {
  background-color: #e83bff;
}
.color#yellow {
  background-color: #ffcc00;
}
.color#green {
  background-color: #1bcc00;
}
.color#lightblue {
  background-color: #37b0ff;
}
.color#blue {
  background-color: #3756ff;
}
.color#black {
  background-color: #505050;
}

.bottom-button-container {
  margin-top: 104px;
  display: flex;
  justify-content: center;
}

.close-button,
.save-button {
  width: 193px;
  height: 46px;
  border-radius: 3px;
  margin: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  background-color: white;
}

.save-button {
  background-color: #35bbc6;
  color: white;
}
