* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #505050;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 980px;
  margin: auto;
  user-select: none;
}

.image-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 200px;
  cursor: pointer;
}

.container {
  height: 100%;
  background-color: rgb(80 80 80 / 90%);
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 38px;
}

.canvas-container {
  padding: 32px 29px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 18px;
}

.draw-area {
  height: 553px;
  margin-top: 45px;
  margin-bottom: 14px;
  align-self: center;
}

.canvas-button-container {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#back,
#zoom,
#deactive,
.color-button-wrapper {
  width: calc(100% / 3);
  height: 58px;
  background-color: white;
  border: solid 1px #505050;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.color-button-wrapper {
  height: 129px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #eaf8f9;
}

#active {
  width: 100%;
  height: 58px;
}

.color-container {
  width: 156px; /* (body + margin-left + margin-right) * 4 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  width: 21px;
  height: 21px;
  margin: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
}
#red {
  background-color: #ff3b66;
}
#purple {
  background-color: #e83bff;
}
#yellow {
  background-color: #ffcc00;
}
#green {
  background-color: #1bcc00;
}
#lightblue {
  background-color: #37b0ff;
}
#blue {
  background-color: #3756ff;
}
#black {
  background-color: #505050;
}

.bottom-button-container {
  margin-top: 104px;
  display: flex;
  justify-content: center;
}

#close,
#save {
  width: 193px;
  height: 46px;
  border-radius: 3px;
  margin: 0 13px;
}

#close {
  background-color: white;
}

#save {
  background-color: #35bbc6;
  color: white;
}
